PORT=8080
BIND=0.0.0.0
APP_VERSION=4.2.2

CACHE_PATH=/data/jikan.db
CACHE_DEFAULT_EXPIRE=86400
CACHE_META_EXPIRE=300
CACHE_USER_EXPIRE=300
CACHE_USERLIST_EXPIRE=3600
CACHE_404_EXPIRE=604800
CACHE_SEARCH_EXPIRE=432000
CACHE_PRODUCERS_EXPIRE=432000
CACHE_MAGAZINES_EXPIRE=432000

MAX_RESULTS_PER_PAGE=25

SOURCE_TIMEOUT=10
SOURCE_DELAY_MS=500
SOURCE_BAD_HEALTH_THRESHOLD=10
SOURCE_BAD_HEALTH_RECHECK=10
SOURCE_BAD_HEALTH_RANGE=30
SOURCE_GOOD_HEALTH_SCORE=0.9

MAL_USER_AGENT=jikan-api/4.2.2 (https://github.com/jikan-me/jikan-rest)

DISABLE_USER_LISTS=false
LOG_LEVEL=info
