PORT=8080
BIND=0.0.0.0
APP_VERSION=1.1.0
GITHUB_URL=https://github.com/konstantine-v/mal-api

CACHE_PATH=/data/mal.db
CACHE_DEFAULT_EXPIRE=86400
CACHE_META_EXPIRE=300
CACHE_USER_EXPIRE=300
CACHE_USERLIST_EXPIRE=3600
CACHE_404_EXPIRE=604800
CACHE_SEARCH_EXPIRE=432000
CACHE_PRODUCERS_EXPIRE=432000
CACHE_MAGAZINES_EXPIRE=432000

MAX_RESULTS_PER_PAGE=25

SOURCE_TIMEOUT=10
SOURCE_DELAY_MS=500
SOURCE_BAD_HEALTH_THRESHOLD=10
SOURCE_BAD_HEALTH_RECHECK=10
SOURCE_BAD_HEALTH_RANGE=30
SOURCE_GOOD_HEALTH_SCORE=0.9

MAL_USER_AGENT=mal-api/1.1.0 (https://github.com/konstantine-v/mal-api)

DISABLE_USER_LISTS=false
LOG_LEVEL=info
